 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi! Im a Computer Scientist PhD candidate with a lot of will to help understand and solve humanitarian problems. I strongly bealive that using modern tecnolgies we can innovate tools that will help to overcome social gaps.</p>
                </div>
                <div class="col-lg-4">
                    <p>My strong skills are hardcore programming and engineering, information security, machine learning and statistical learning, exploratory data analsysis,  problem solving and distributed platforms.</p>
                </div>
            </div>
        </div>
    </section>
