<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="application/xhtml+xml" />
            <meta charset="utf-8">
	<meta name="author" content="Daniel Foguel" />
        <!-- <meta name="robots" content="all" /> -->

	<title>{{ page.title }}</title>
	
	<style type="text/css" media="all">
		@import "/default.css";
	</style>
	
</head>
<body id="main">

	<div id="content">
		<div id="header" align="right">
			<h1><a href="/" title="Danitos Website">{{ site.title }}</a></h1>
                        <h2> Y sus proyectos </h2>
		</div>
		
		<div id="content_body">
			{{ content }}
		</div>
		
		<div id="footer">
				<span class="navitem"><a href="http://github.com/dioh" title="Mi Github!">GitHub</a></span> 
                                <!-- <span class="navitem"><a href="/resume.html" title="Daniel J. Foguelman' resume">Resume</a></span> | -->
			</div>

		</div>

	</div> 
</body>
</html>
